.main {
  .vertical-radio {
    display: block;
    margin-bottom: 8px;
  }

  .config-area {
    .ant-input-affix-wrapper .ant-input {
      padding-left: 44px;
    }

    .sep-title {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  .ant-checkbox + span {
    padding-right: 0;
  }
}
