@import '~theme/theme';

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 55px);
  position: relative;
}

.left {
  background: @background-color-base;
  flex: 1;
  position: relative;
  overflow: auto;
  z-index: 1;
}
.side {
  padding: 0 24px 0 24px;
  vertical-align: top;
  width: 300px;
  overflow: auto;
  z-index: 100;
  background: @white;
  border-left: 1px solid @border-color-base;
}

.header {
  background: @white;
  padding: 12px 24px 0;
  position: fixed;
  width: calc(100% - 320px + 24px);
  z-index: 2;
  box-shadow: @shadow-1-up;

  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
    .ant-tabs-content-holder {
      background: @white;
    }
  }
}

.main {
  margin-top: 64px;
  padding: 24px;
}
.footer {
  position: fixed;
  height: 55px;
  bottom: 0;
}
